:root {
    --black: #201F22;
    --white: #FDFDFD;
    --bg-white: #f9f9fb;
    --sheergray: #d7d7d7;
    --lightgray: #CECECE;
    --gray: #989898;
    --darkgray: #5f5f5f;
    --bluegray: #EFEFF4;

    --link: #7191db;
}